extends ../layouts/layout.pug
block content
    .container
        .row.justify-content-center
            .col-md-8
                .card
                    .card-header Reset Password
                    .card-body.text-center
                        if again
                            .alert.alert-success(role='alert')
                                | A fresh verification code has been sent to your email address.
                        |Before proceeding, please check your email for a verification code.
                        br
                        br
                        form.text-left(method='POST' action="/user/confirmResetPassword")
                            .form-group.row.d-none
                                label.col-md-4.col-form-label.text-md-right(for='credential') E-Mail/Username
                                .col-md-6
                                    input#credential-input.form-control(type='text' name='credential' required='' value=`${credential}` autocomplete='credential' autofocus='')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-group.row
                                label.col-md-4.col-form-label.text-md-right(for='verificationCode') Verification code
                                .col-md-6
                                    input#verificationCode-input.form-control(type='text' name='verificationCode' value='' required='' autocomplete='verificationCode' autofocus='')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-group.row.mb-0
                                .col-md-8.offset-md-4
                                    .form-submit.btn.btn-primary
                                        | Verify
                        |If you did not receive the email&nbsp
                        form.d-inline(method='POST' action="/user/sendResetPassword")
                            .form-group.row.d-none
                                label.col-md-4.col-form-label.text-md-right(for='credential') E-Mail/Username
                                .col-md-6
                                    input#credential-input.form-control(type='text' name='credential' required='' value=`${credential}` autocomplete='credential' autofocus='')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-group.row.d-none
                                label.col-md-4.col-form-label.text-md-right(for='again') E-Mail/Username
                                .col-md-6
                                    input#again-input.form-control(type='text' name='again' required='' value='true' autocomplete='again' autofocus='')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-submit.btn.btn-link.p-0.m-0.align-baseline click here to request another code
                        label#attempts-input.form-check-label(for='remember')
                            span.invalid-feedback(role='alert')
                                strong
