extends ../layouts/layout.pug
block content
  .container
    .row.justify-content-center
      .col-md-8
        .card
          .card-header Login
          .card-body
            form(method='POST' action="/login")
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='credential') E-Mail/Username
                .col-md-6
                  input#credential-input.form-control(type='text' name='credential' value='' required='' autocomplete='credential' autofocus='')
                  span.invalid-feedback(role='alert')
                    strong
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Password
                .col-md-6
                  input#password-input.form-control(type='password' name='password' required='' autocomplete='current-password')
                  span.invalid-feedback(role='alert')
                    strong
              .form-group.row.mb-0
                .col-md-8.offset-md-4
                  #form-submit.btn.btn-primary
                    | Login
                  a.btn.btn-link(href='sendResetPassword')
                    | Forget Password ?
              .form-group.row.mb-0
                col-md-8.m-auto
                  label#attampts-input.form-check-label(for='remember')
                    span.invalid-feedback(role='alert')
                      strong
