extends ../layouts/layout.pug
block content
    .container
      .row.justify-content-center
        .col-md-8
          .card
            .card-header Register
            .card-body
              form(method='POST' action='/user/register')
                .form-group.row
                  label.col-md-4.col-form-label.text-md-right(for='name') Name
                  .col-md-6
                    input#name-input.form-control(type='text' name='name' value='' required='' autocomplete='name' autofocus='')
                    span.invalid-feedback(role='alert')
                      strong
                .form-group.row
                  label.col-md-4.col-form-label.text-md-right(for='username') Username
                  .col-md-6
                    input#username-input.form-control(type='text' name='username' value='' required='' autocomplete='username')
                    span.invalid-feedback(role='alert')
                      strong
                .form-group.row
                  label.col-md-4.col-form-label.text-md-right(for='email') E-Mail Address
                  .col-md-6
                    input#email-input.form-control(type='email' name='email' value='' required='' autocomplete='email')
                    span.invalid-feedback(role='alert')
                      strong
                .form-group.row
                  label.col-md-4.col-form-label.text-md-right(for='password') Password
                  .col-md-6
                    input#password-input.form-control(type='password' name='password' required='' autocomplete='new-password')
                    span.invalid-feedback(role='alert')
                      strong
                .form-group.row
                  label.col-md-4.col-form-label.text-md-right(for='confirm-password') Confirm Password
                  .col-md-6
                    input#confirm-password-input.form-control(type='password' name='confirm-password' required='' autocomplete='new-password')
                .form-group.row.mb-0
                  .col-md-6.offset-md-4
                    #form-submit.btn.btn-primary
                      | Register
                .form-group.row.mb-0
                  col-md-8.m-auto
                    label#attempts-input.form-check-label(for='remember')
                      span.invalid-feedback(role='alert')
                        strong
