extends ../layouts/layout.pug
block content
    .container
        .row.justify-content-center
            .col-md-8
                .card
                    .card-header Update Password
                    .card-body
                        form(method='POST' action='/user/updatePassword')
                            .form-group.row
                                label.col-md-4.col-form-label.text-md-right(for='currentPassword') Current Password
                                .col-md-6
                                    input#currentPassword-input.form-control(type='password' name='currentPassword' required='' autocomplete='current-password')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-group.row
                                label.col-md-4.col-form-label.text-md-right(for='newPassword') New Password
                                .col-md-6
                                    input#newPassword-input.form-control(type='password' name='newPassword' required='' autocomplete='new-password')
                                    span.invalid-feedback(role='alert')
                                        strong
                            .form-group.row
                                label.col-md-4.col-form-label.text-md-right(for='confirmPassword') Confirm Password
                                .col-md-6
                                    input#confirmPassword-input.form-control(type='password' name='confirmPassword' required='' autocomplete='confirm-password')
                            .form-group.row.mb-0
                                .col-md-6.offset-md-4
                                    #form-submit.btn.btn-primary
                                        | Reset Password
                            .form-group.row.mb-0
                                col-md-8.m-auto
                                    label#attempts-input.form-check-label(for='remember')
                                        span.invalid-feedback(role='alert')
                                            strong
