extends layouts/layout.pug
block content
    .container
      .row.justify-content-center
        .col-md-8
          img(src='images/background.svg')
        .col-md-8.p-5
          ul(style='list-style:disc')
            li
              span.d-inline.font-weight-bolder(style='color:#8cc84b;font-size:large;')
                | Noder.js&nbsp;
              p.lead.d-inline
              | is an open source node.js starter kit, This project was created using node.js language,express.js framework and mongoDb for the database structure in addition to bootstrap framework for the frontend.
            li
              p.lead.d-inline
              |The idea of this project is to be the beginning of its development into an integrated framework inspired by the Laravel framework.
              br
            a.btn.btn-outline.btn-lg.border.mt-4(href='https://github.com/Progr96ammer/noder',style='background:#444;color:white')
              span.fa.fa-github
              |  View on GitHub
